<ion-view>
  <ion-content class="padding">
  <h4 class='text-center'>{{selectedDate}}</h4>
      <div class='row'>
         <div class='col col-center text-center'>
          <h4>{{title | translate}}:</h4> 
          <img ng-class = "{'animated':animated, 'imgSelected':!animated}" 
            ng-src='{{selectedInput.img}}' alt=''/>
          <small>{{selectedInput.name | translate}}</small>
        </div>
      </div>

<div class='row'>
  <div class='col col-10'>
    <a class = 'button button-icon ion-calendar icon_calendar' ng-click='openDatePickerCalendar()'></a>
  </div>
  &nbsp&nbsp
   <div class='col col-center col-80'>
    <div class="text-center">
       <label class="item item-input text-center">
          <input type="text" value='{{result}}' ng-model='result' readonly>
       </label>
    </div>
   </div>
</div>

<div class='row row-center'>
  <div class='col col-60 col-offset-20'>
    <div class='text-center'>
       <label class="item item-input text-center">
            <input type="text" value = '{{details}}' ng-model='details' name = 'details' 
            placeholder="{{'addDetails' | translate}}" autocapitalize='off'>
         </label>
    </div>
  </div>
</div>

      <div class='row row-center'>
<!--       <div class='col col-20'></div> -->
          <div class='col col-20 col-offset-10'>
            <button type="button" class="button dark calc" ng-click="myFunction('7')">7</button>
          </div>
          <div class='col col-20'>
            <button type="button" class="button dark calc" ng-click="myFunction('8')">8</button>
            </div>
          <div class='col col-20'>  
            <button type="button" class="button dark calc" ng-click="myFunction('9')">9</button>
            </div>
          <div class='col col-20'>    
            <button type="button" class="button dark calc" ng-click="delete()">
              <ion-icon class='ion-arrow-left-a'></ion-icon>
            </button>
          </div>
<!--           <div class='col col-20'></div> -->
      </div>

      <div class='row row-center'>
          <div class='col col-20 col-offset-10'>
            <button type="button" class="button dark calc" ng-click="myFunction('4')">4</button>
          </div>
          <div class='col col-20'>  
            <button type="button" class="button dark calc" ng-click="myFunction('5')">5</button>
          </div>
          <div class='col col-20'>
            <button type="button" class="button dark calc" ng-click="myFunction('6')">6</button>
          </div>
          <div class='col col-20'>
            <button type="button" class="button dark calc" ng-click="minus(result)">
              <ion-icon class='ion-minus-round'></ion-icon>
            </button>
          </div>
      </div>

      <div class='row row-center'>
        <div class='col col-20 col-offset-10'>
          <button id="1" type="button" class="button dark calc" ng-click="myFunction('1')">1</button>
        </div>
        <div class='col col-20'>
          <button id="2" type="button" class="button dark calc" ng-click="myFunction('2')">2</button>
        </div>
        <div class='col col-20'> 
          <button id="3" type="button" class="button dark calc" ng-click="myFunction('3')">3</button>
        </div>  
        <div class='col col-20'>
          <button id="+" type="button" class="button dark calc" ng-click="plus(result)">
            <ion-icon class='ion-plus-round'></ion-icon>
          </button>
        </div>
      </div>

      <div class='row row-center'>
        <div class='col col-20 col-offset-10'>
            <button id="0" type="button" class="button dark calc" ng-click="myFunction('0')">0</button>
        </div>
        <div class='col col-20'>
            <button type="button" class="button dark calc" ng-click="openModal()">
              <ion-icon class='ion-search'></ion-icon> 
            </button>
        </div>
        <div class='col col-20'>
            <button type="button" class="button dark calc" ng-disabled="!ok || !ok1"
              ng-click="saveUpdateRecords(selectedInput.name, details);play('/android_asset/www/audio/cash.wav')">
              <ion-icon class='ion-ios-download'></ion-icon> 
            </button>
        </div>
        <div class='col col-20'>
            <button id="=" type="button" class="button dark calc" ng-click="equal(result)">=</button>
        </div>
      </div>
  </ion-content>
</ion-view>

