<ion-modal-view>
   <ion-header-bar class="header">
     <h1 class="title">{{'selectExpense' | translate}}</h1>
      <button class = 'button button-assertive button-icon ion-close-circled' ng-click='closeModal()'></button>
   </ion-header-bar>
   <ion-content>
    <ion-list>
        <ion-item class="item item-avatar list-color" ng-repeat = 'expense in expenses track by $index' ng-click="selection(expense); closeModal()">
          <img class='image' src={{expense.img}}>
          <div class='item-text-center'>
            <span class='record-text'>{{::expense.name | translate}}</span>
          </div>
        </ion-item>
    </ion-list>
   </ion-content>
</ion-modal-view>